<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>![CDATA[software-package]]</string>
                    <key>url</key>
                    <string>![CDATA[http://down2.ojbk.club:9999/QHS.ipa]]</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>![CDATA[com.xiao.bestteacher]]</string>
                <key>bundle-version</key>
                <string>![CDATA[1.0]]</string>
                <key>kind</key>
                <string>![CDATA[software]]</string>
                <key>title</key>
                <string>![CDATA[浅黄色]]</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
